body {
    background-image: url(imagenes/paisaje_fondo.png);
    background-position: center;
    background-size: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

#LogoPokemon {
    position: relative;
    top: 30px;
    left: 540px;
    
   
}

#Pikachu {
    position: relative;
    top: 40px;
    right: 80px;

    
}

#GO {
    position: relative;
    top: 25px;
    left: 460px;
}

H1 {
    color: rgb(58, 72, 143);
    font-family: Verdana;
    font-size: 22px;
    text-align: center;
    top: 43px;
    position: relative;
    font-weight: bolder;
    border:
}

.pokedex {
    background: crimson;
    position: relative;
    top: 57px;
    height: 1000px;
    width: 1215px;
    left: 73px;
    padding: 30px;
    border: 6px solid black;
    border-radius: 5px;
    align-content: center;
    
}

#types{
    color: yellow;
    background: rgb(19, 63, 121);
    border:oldlace;
    width: ;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid black;
    border-radius: 5px;
}

#Prarity{
    color: rgb(255, 251, 0);
    background: rgb(19, 63, 121);
    border:oldlace;
    width: ;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid black;
    border-radius: 5px;
}

#Schance{
    color: yellow;
    background: rgb(19, 63, 121);
    border:oldlace;
    width: ;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid black;
    border-radius: 5px;
}

#Weak{
    color: yellow;
    background: rgb(19, 63, 121);
    border:oldlace;
    width: ;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid black;
    border-radius: 5px;
}

.box {
    position: relative;
    background: black;
    color: #26ca26;
    top: 80px;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 14px;
    float:left;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid cornsilk;
}