body {
    background-image: url(imagenes/paisaje_fondo.png);
    background-position: center;
    background-size: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
#LogoPokemon {
    position: relative;
    top: 30px;
    left: 540px;
}
#Pikachu {
    position: relative;
    top: 40px;
    right: 80px;
}
#GO {
    position: relative;
    top: 25px;
    left: 460px;
}
H1 {
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
    top: 1px;
    font-weight:normal;
    text-shadow: 3px  0px 0px rgb(11, 48, 116),
               0px  2px 0px rgb(11, 48, 116),
              -2px  0px 0px rgb(11, 48, 116),
               0px -2px 0px rgb(11, 48, 116);
    align-content: center;
}
.pokedex {
    background: crimson;
    width: 94%;
    height: auto;
    max-width: 1500px;
    top: 50px;
    margin: 5px auto;
    padding: 10px;
    position: relative;
    border: 4px solid black;
    border-radius: 5px;
    align-content: center;
}
#types{
    color: yellow;
    background: rgb(19, 63, 121);
    border:oldlace;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid black;
    border-radius: 5px;
    align-content: center;
}
#Srarity{
    color: rgb(255, 251, 0);
    background: rgb(19, 63, 121);
    border:oldlace;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid black;
    border-radius: 5px;
}
#Sorder{
    color: yellow;
    background: rgb(19, 63, 121);
    border:oldlace;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid black;
    border-radius: 5px;
}
.box {
    background: black;
    position: relative;
    top: 65px;
    width: calc(360px - 60px);
    height: calc(320px - 30px);
    float:left;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid cornsilk;
    align-content:space-between;
    color: #26ca26;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 14px;
}
.footer{
    background: crimson;
    width: 94%;
    height: 40px;
    position:relative;
}