body {
    background-image: url(imagenes/paisaje_fondo.png);
    background-position: center;
    background-size: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
.logo {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 35px; 
    position:relative;
}
H1 {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    top: 1px;
    font-weight:normal;
    text-shadow: 3px  0px 0px rgb(11, 48, 116),
               0px  2px 0px rgb(11, 48, 116),
              -2px  0px 0px rgb(11, 48, 116),
               0px -2px 0px rgb(11, 48, 116);
    align-content: center;
}
.pokedex {
    background: crimson;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    max-width: 1500px;
    top: 67px;
    margin: 5px auto;
    padding: 10px;
    position: relative;
}
#types {
    color: yellow;
    background: rgb(19, 63, 121);
    border:oldlace;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border-radius: 5px;
    border: 2px solid oldlace;
    box-shadow: 1px 2px 1px black;
}
#Srarity {
    color: rgb(255, 251, 0);
    background: rgb(19, 63, 121);
    border:oldlace;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid oldlace;
    border-radius: 5px;
    box-shadow: 1px 2px 1px black;
}
#Sorder {
    color: yellow;
    background: rgb(19, 63, 121);
    border:oldlace;
    height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 2px solid oldlace;
    border-radius: 5px;
    box-shadow: 1px 2px 1px black;
}
#Breset {
    color:yellow;
    background: rgb(19, 63, 121);
    height: 32px;
    width: 110px;
    font-size: 18px;
    letter-spacing: 0.11em;
    border: 2px solid oldlace;
    border-radius: 10px;
    box-shadow: 1px 2px 1px black;
}
.box {
    background: black;
    position: relative;
    top: 65px;
    width: calc(360px - 60px);
    height: calc(320px - 30px);
    float:left;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid cornsilk;
    align-content:space-between;
    color: #26ca26;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
}
